= form_for @movie do |f|
  -if @movie.errors.any?
    #error_explanation
      %h2= "#{pluralize(@movie.errors.count, "error")} prohibited this movie from being saved:"
      %ul
        - @movie.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :published_name
    = f.text_field :published_name
  .field
    = f.label :year
    = f.text_field :year
  .field
    = f.label :plot
    = f.text_area :plot
  .field
    = f.label :imdb_score
    = f.text_field :imdb_score
  .field
    = f.label :runtime
    = f.text_field :runtime
  .actions
    = f.submit 'Save'
