%p#notice= notice

%p
  %b Name:
  = @movie.name
%p
  %b Published name:
  = @movie.published_name
%p
  %b Year:
  = @movie.year
%p
  %b Plot:
  = @movie.plot
%p
  %b Imdb score:
  = @movie.imdb_score
%p
  %b Runtime:
  = @movie.runtime

= link_to 'Edit', edit_movie_path(@movie)
\|
= link_to 'Back', movies_path
